/* 
 * 	Default Color
 */


.header-one .header .navigation ul li.select a, .header-two .header .navigation ul li.select a{color:#333333;}
.header-one .header .navigation ul li a:before, .header-two .header .navigation ul li a:before {background:#333333;}
.header-one .header .navigation ul li a:hover, .header-two .header .navigation ul li a:hover{color:#333333;}
.our-studio .icons i{ color:#333333;}
.main-heading h4{ color: #333333;}
.work:hover span.number{ color:#333333 !important;}
.projects .work:hover .text h6{ color:#333333 ;}
.kind-words span{color:#333333;}

.read-more-btn{background:#333333;}

#client-words .owl-page.active{ background: #333333;}
#client-words .owl-page:hover{background: #333333;}
.z-tabs.silver > ul > li> a:hover{ background:#333333;}

.footer .footer-bottom a{ color:#333333;}
.sub-banner .text-detail ul{border-bottom:solid 4px #333333;}
.sub-banner .text-detail ul li a:hover{ color:#333333;}
.news .news-sec .news-main span{background: #333333;}
.news .news-sec .news-main{ border-bottom:solid 4px #333333;}
.news .news-sec .detail a:hover{ color:#333333; border-bottom:solid 1px #333333;}
.new-older .more-post:hover{color:#333333;}
.news-detail .next-posts a:hover{ color:#333333;}
.news-detail .comments .comment-sec .detail a{ color: #333333;}
.header-two-main .header ul li a:hover{color: #333333; }
.header-two-main .header ul li.select a{color: #333333;}
.process span{color:#333333;}
.footer-light .footer-bottom a{ color:#333333;} 

.cd-primary-nav { background: #333333;}













































