/* 
 * 	Purple Color
 */


.header-one .header .navigation ul li.select a, .header-two .header .navigation ul li.select a{color:#9b59b6;}
.header-one .header .navigation ul li a:before, .header-two .header .navigation ul li a:before {background:#9b59b6;}
.header-one .header .navigation ul li a:hover, .header-two .header .navigation ul li a:hover{color:#9b59b6;}
.our-studio .icons i{ color:#9b59b6;}
.main-heading h4{ color: #9b59b6;}
.work:hover span.number{ color:#9b59b6 !important;}
.projects .work:hover .text h6{ color:#9b59b6 ;}
.kind-words span{color:#9b59b6;}

.read-more-btn{background:#9b59b6;}

#client-words .owl-page.active{ background: #9b59b6;}
#client-words .owl-page:hover{background: #9b59b6;}
.z-tabs.silver > ul > li> a:hover{ background:#9b59b6;}

.footer .footer-bottom a{ color:#9b59b6;}
.cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active{background-color:#9b59b6; border-color:#9b59b6 ;}
.cbp-l-filters-button .cbp-filter-item-active {background: #9b59b6; border-color: #9b59b6;}
.cbp-l-filters-button .cbp-filter-item:hover { background: #9b59b6; border: solid 1px #9b59b6;}
.sub-banner .text-detail ul{border-bottom:solid 4px #9b59b6;}
.sub-banner .text-detail ul li a:hover{ color:#9b59b6;}
.news .news-sec .news-main span{background: #9b59b6;}
.news .news-sec .news-main{ border-bottom:solid 4px #9b59b6;}
.news .news-sec .detail a:hover{ color:#9b59b6; border-bottom:solid 1px #9b59b6;}
.new-older .more-post:hover{color:#9b59b6;}
.news-detail .next-posts a:hover{ color:#9b59b6;}
.news-detail .comments .comment-sec .detail a{ color: #9b59b6;}
.header-two-main .header ul li a:hover{background: #9b59b6; }
.header-two-main .header ul li.select a{background: #9b59b6;}
.process span{color:#9b59b6;}
.footer-light .footer-bottom a{ color:#9b59b6;} 

.cd-primary-nav { background: #9b59b6;}
